/* :root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  }
   */  
.wrapper {
    display: grid;
    grid-gap: 20px;
    margin-top: 20px;
  }

.shop{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-areas:
      'products products filter'
      'products products filter'; */
  }

.filter{
    background: rgb(255, 255, 255);
}

/* Products */
  .products {
    background: #fff;
    /* box-shadow:0 1px 5px rgba(104, 104, 104, 0.8); */
    display: grid;
    /* grid-area: products; */
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-column: 2/ 5; */
  }

  .card {
    /* background: var(--primary); */
    /* text-align: center; */
    /* padding: 1.5rem 2rem; */
    box-shadow: var(--shadow);
    /* width: 100%; */
  }

  .card-img{
      width: 70%;
      height: 150px;
    /* box-sizing: border-box;
    border: 2 solid #e2e8f0; */
  }
  .card-content{padding: 10px;}
  .p-title{font-size: 1rem; color: rgb(34, 32, 32);}
  .p-owner{}
  .p-price{}
  
  .btn {
    background: #07a52e;;
    border: 1px solid rgb(11, 66, 11);
    color: rgb(255, 255, 255);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    text-align: center;
    border: 0;
    width: 100%;
    font-size: medium;
    border-radius: 5px;
  }
  
/* Media Queries */
@media (max-width: 700px) {

  .product {
    /* background: var(--primary); */
    /* text-align: center; */
    /* padding: 1.5rem 2rem; */
    box-shadow: var(--shadow);
    width: 100%;
  }
}

@media (max-width: 500px) {

}

.service-btn{
    background: #ffffff;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    text-align: center;
    border: 0;
    width: 100%;
    font-size: medium;
    border-radius: 5px;
}

.s-card{
  box-shadow: var(--shadow);
  padding: 20px;

}

.s-text{
  font-weight: 500;
  border-bottom: 1px solid #ccc;
}