.post-box{
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 2px 5px 11px 0 rgba(232,232,232,0.79);
    margin-bottom: 24px;
    display: flex;
}

.post-image {
    width: 35%;
    position: relative;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 20px 0px 20px;
    box-sizing: border-box;
}
.post-image-render{
    height: 180px;
    width: 100%;
    padding:   10px 20px 10px 20px;
}

.post-content-prime{
    width: 65%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-left: 1px solid rgba(0,0,0,0.04);
    padding: 15px ;
    margin: auto;
}

.post-content-header {
    color: #495057;
    font-size: 17px;
    margin-bottom: 0;
    font-weight: 700;
    padding-bottom: 5px;
}

.post-content-star-rating {
    margin-bottom: 10px;
}

.post-content-body{
    color: #5e7079;
    font-size: 13px;
    overflow: hidden;
    position: relative;
    line-height: 1.4em;
    max-height: 2.8em;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}

.post-content-price{
    padding-top: 5px;
    font-size: 18px;
    margin: 10px 0;
    color: #000;
    opacity: 0.8;
    font-weight: 600;
    -ms-flex-line-pack: center;
    align-content: center;
    display: -ms-flexbox;
    display: flex;
    line-height: 1em;
}

.post-content-pool{
    color: #61727B;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;
    margin: 0;
    -ms-flex-item-align: center;
    align-self: center;
}

.post-content-location{
    color: #61727B;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;
    margin: 0;
    -ms-flex-item-align: center;
    align-self: center;
}

.d-flex{
    align-items: center;
    display: flex;
}
