.j{
    background-color: rgba(60,13,153,var(--bg-opacity));

}

.dcyFHx{
    color: rgb(20, 160, 20) !important;
}

.jxDMfk {
    color: rgb(8, 146, 8) !important;
}

.bWpQkN{
    background-color: rgb(20, 160, 20) !important;
}

.eDXjfe{
    color: rgb(20, 160, 20) !important;
}

.cZCUNp{
    color: rgb(20, 160, 20) !important;
}

.bFoJuO {
    background-color: rgb(20, 160, 20) !important;

}

.ibxZBb{
    background-color: rgb(20, 160, 20) !important;
}

.fsFrNx {
    background-color: rgb(20, 160, 20) !important;
}

.ilnraA button:hover{
    background-color: rgb(20, 160, 20) !important;

}

.ilnraA button{
    background-color: rgb(20, 160, 20) !important;

}

.WKikz{
    background-color: rgb(20, 160, 20) !important;

}